@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
  font-size: 20px;
  font-family: "Pretendard-Regular";
}

html, body {
  height: 100%;
}

ul, li, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrap {
  background: linear-gradient(110deg, #fff, #f2f2f2);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content .phone_wrap {
  display: none;
}

.phone_title {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem 0;
}
header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: pretendard, sans-serif;
  font-style: normal;
  font-weight: 800;
  cursor: default;
}
header nav ul {
  display: flex;
}
header nav ul li {
  padding-left: 1.5rem;
  font-weight: bold;
}
header nav ul li a {
  transition: all 0.3s;
}
header nav ul li:hover a {
  color: #ff4628;
}

.footer_lang {
  display: none;
}

@media (max-width: 768px) {
  .wrap {
    background: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1rem 0;
  }
  header h1 {
    font-size: 1.6rem;
    font-weight: bold;
    font-family: pretendard, sans-serif;
    font-style: normal;
    font-weight: 800;
    cursor: default;
  }
  header nav.lang {
    display: none;
  }
  header nav ul {
    display: flex;
  }
  header nav ul li {
    padding-left: 1.5rem;
    font-weight: bold;
  }
  header nav ul li:first-child {
    display: none;
  }
  header nav ul li a {
    transition: all 0.3s;
    font-size: 0.7rem;
  }
  header nav ul li:hover a {
    color: #ff4628;
  }
}
footer {
  background-color: #fff;
  padding: 0.5rem 2rem;
}
footer .footer_wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
footer .footer_wrap > p {
  display: none;
}
footer .footer_wrap div p {
  color: #9a9a9a;
  font-size: 0.75rem;
  line-height: 1.5;
}
footer .footer_wrap div:nth-child(1) h5 {
  font-size: 0.85rem;
  line-height: 2;
}
footer .footer_wrap div:nth-child(1) ul {
  display: flex;
}
footer .footer_wrap div:nth-child(1) ul li {
  padding-right: 1rem;
  color: #9a9a9a;
  font-size: 0.75rem;
  line-height: 2;
}
footer .footer_wrap div:nth-child(2) {
  text-align: right;
}
footer .footer_wrap div:nth-child(2) img {
  width: 8rem;
}

@media (max-width: 768px) {
  footer {
    background: #fbfbfb;
    padding: 1rem;
  }
  footer .footer_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  footer .footer_wrap > p {
    font-size: 0.65rem;
    width: 100%;
    margin-top: 0.5rem;
    color: #9a9a9a;
    display: block;
  }
  footer .footer_wrap div p {
    color: #9a9a9a;
    font-size: 0.65rem;
    line-height: 1;
  }
  footer .footer_wrap div:nth-child(1) {
    width: 70%;
  }
  footer .footer_wrap div:nth-child(1) h5 {
    font-size: 0.8rem;
    line-height: 1.5;
  }
  footer .footer_wrap div:nth-child(1) ul {
    display: flex;
  }
  footer .footer_wrap div:nth-child(1) ul li {
    padding-right: 0.3rem;
    color: #9a9a9a;
    font-size: 0.65rem;
    line-height: 2;
  }
  footer .footer_wrap div:nth-child(1) p {
    font-size: 0.65rem;
  }
  footer .footer_wrap div:nth-child(2) {
    width: 30%;
    text-align: right;
  }
  footer .footer_wrap div:nth-child(2) img {
    width: 4.8rem;
  }
  footer .footer_wrap div:nth-child(2) p {
    display: none;
  }
}
.content {
  padding: 0 2rem;
  display: flex;
  justify-content: right;
  align-items: center;
}
.content table {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding-bottom: 5rem;
}
.content table tr td {
  width: 8rem;
  padding: 5rem 1.2rem 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
}
.content table tr td input {
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
}
.content table tr td input::-moz-placeholder {
  font-weight: bold;
  font-size: 1.2rem;
}
.content table tr td input::placeholder {
  font-weight: bold;
  font-size: 1.2rem;
}
.content table tr td i {
  float: right;
}
.content table tr td:last-child {
  width: 18rem;
  border-bottom: 2px solid #6a6a6a;
  opacity: 0.5;
}
.content table tr:last-child td {
  text-align: right;
  padding: 1.5rem 0;
  border-bottom: none;
  opacity: 1;
}
.content table tr:last-child td span {
  font-size: 1.2rem;
  color: #ff4628;
  cursor: pointer;
}
.content table tr:last-child td span:last-child {
  margin-left: 3.5rem;
}
.content .main_btn {
  align-self: flex-end;
  width: 12rem;
  padding: 0.5rem;
  border-bottom: 2px solid #6a6a6a;
  opacity: 0.8;
  cursor: pointer;
}
.content .main_btn span {
  color: #6a6a6a;
  font-size: 1.2rem;
  font-weight: bold;
}
.content .main_btn i {
  color: #6a6a6a;
  float: right;
  line-height: 1.3;
}

.content_mobile {
  display: none;
}

@media (max-width: 768px) {
  header h1 {
    display: none;
  }
  .phone_title {
    display: block;
  }
  .content {
    padding: 0 2rem;
    display: flex;
    justify-content: right;
    align-items: center;
    display: none;
  }
  .content table {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding-bottom: 5rem;
  }
  .content table tr td {
    width: 8rem;
    padding: 5rem 1.2rem 0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
  }
  .content table tr td input {
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
  }
  .content table tr td input::-moz-placeholder {
    font-weight: bold;
    font-size: 1.2rem;
  }
  .content table tr td input::placeholder {
    font-weight: bold;
    font-size: 1.2rem;
  }
  .content table tr td i {
    float: right;
  }
  .content table tr td:last-child {
    width: 18rem;
    border-bottom: 2px solid #6a6a6a;
    opacity: 0.5;
  }
  .content table tr:last-child td {
    text-align: right;
    padding: 1.5rem 0;
    border-bottom: none;
    opacity: 1;
  }
  .content table tr:last-child td span {
    font-size: 1.2rem;
    color: #ff4628;
    cursor: pointer;
  }
  .content table tr:last-child td span:last-child {
    margin-left: 3.5rem;
  }
  .content .main_btn {
    align-self: flex-end;
    width: 12rem;
    padding: 0.5rem;
    border-bottom: 2px solid #6a6a6a;
    opacity: 0.8;
    cursor: pointer;
  }
  .content .main_btn span {
    color: #6a6a6a;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .content .main_btn i {
    color: #6a6a6a;
    float: right;
    line-height: 1.3;
  }
  .content_mobile {
    display: block;
    padding: 1rem;
  }
  .content_mobile > div {
    width: 100%;
    opacity: 0.5;
  }
  .content_mobile > div > div {
    padding: 0.3rem;
  }
  .content_mobile > div > div span {
    color: #6a6a6a;
    font-weight: bold;
  }
  .content_mobile > div > div i {
    float: right;
    color: #6a6a6a;
  }
  .content_mobile > div > span {
    color: #6a6a6a;
    display: block;
    margin: 2rem 0 0.5rem;
    font-size: 0.7rem;
  }
  .content_mobile > div input {
    width: 100%;
    border: none;
    outline: none;
    padding: 0.3rem;
  }
  .content_mobile > div input::-moz-placeholder {
    color: #6a6a6a;
    font-weight: bold;
  }
  .content_mobile > div input::placeholder {
    color: #6a6a6a;
    font-weight: bold;
  }
  .content_mobile > div > div, .content_mobile > div input {
    border-bottom: 2px solid #6a6a6a;
  }
  .content_mobile > div.point_text {
    width: 80%;
    margin: 2rem auto 0;
    text-align: center;
    opacity: 1;
  }
  .content_mobile > div.point_text span {
    color: #ff4628;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1;
    margin: 1rem 0;
    cursor: pointer;
  }
  .content_mobile > div.main_btn {
    width: 100%;
    display: flex;
    justify-content: right;
    margin: 1rem 0;
    opacity: 0.5;
    cursor: pointer;
  }
  .content_mobile > div.main_btn span {
    display: inline-block;
    width: 8rem;
    border-bottom: 2px solid #6a6a6a;
    color: #6a6a6a;
    font-size: 1rem;
    padding: 0.5rem;
    font-weight: bold;
  }
  .content_mobile > div.main_btn span i {
    float: right;
    color: #6a6a6a;
  }
}