@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
  font-size: 20px;
  font-family: "Pretendard-Regular";
}

html, body {
  height: 100%;
}

ul, li, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrap {
  background: linear-gradient(110deg, #fff, #f2f2f2);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content .phone_wrap {
  display: none;
}

.phone_title {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem 0;
}
header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: pretendard, sans-serif;
  font-style: normal;
  font-weight: 800;
  cursor: default;
}
header nav ul {
  display: flex;
}
header nav ul li {
  padding-left: 1.5rem;
  font-weight: bold;
}
header nav ul li a {
  transition: all 0.3s;
}
header nav ul li:hover a {
  color: #ff4628;
}

.footer_lang {
  display: none;
}

@media (max-width: 768px) {
  .wrap {
    background: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1rem 0;
  }
  header h1 {
    font-size: 1.6rem;
    font-weight: bold;
    font-family: pretendard, sans-serif;
    font-style: normal;
    font-weight: 800;
    cursor: default;
  }
  header nav.lang {
    display: none;
  }
  header nav ul {
    display: flex;
  }
  header nav ul li {
    padding-left: 1.5rem;
    font-weight: bold;
  }
  header nav ul li:first-child {
    display: none;
  }
  header nav ul li a {
    transition: all 0.3s;
    font-size: 0.7rem;
  }
  header nav ul li:hover a {
    color: #ff4628;
  }
}
footer {
  background-color: #fff;
  padding: 0.5rem 2rem;
}
footer .footer_wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
footer .footer_wrap > p {
  display: none;
}
footer .footer_wrap div p {
  color: #9a9a9a;
  font-size: 0.75rem;
  line-height: 1.5;
}
footer .footer_wrap div:nth-child(1) h5 {
  font-size: 0.85rem;
  line-height: 2;
}
footer .footer_wrap div:nth-child(1) ul {
  display: flex;
}
footer .footer_wrap div:nth-child(1) ul li {
  padding-right: 1rem;
  color: #9a9a9a;
  font-size: 0.75rem;
  line-height: 2;
}
footer .footer_wrap div:nth-child(2) {
  text-align: right;
}
footer .footer_wrap div:nth-child(2) img {
  width: 8rem;
}

@media (max-width: 768px) {
  footer {
    background: #fbfbfb;
    padding: 1rem;
  }
  footer .footer_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  footer .footer_wrap > p {
    font-size: 0.65rem;
    width: 100%;
    margin-top: 0.5rem;
    color: #9a9a9a;
    display: block;
  }
  footer .footer_wrap div p {
    color: #9a9a9a;
    font-size: 0.65rem;
    line-height: 1;
  }
  footer .footer_wrap div:nth-child(1) {
    width: 70%;
  }
  footer .footer_wrap div:nth-child(1) h5 {
    font-size: 0.8rem;
    line-height: 1.5;
  }
  footer .footer_wrap div:nth-child(1) ul {
    display: flex;
  }
  footer .footer_wrap div:nth-child(1) ul li {
    padding-right: 0.3rem;
    color: #9a9a9a;
    font-size: 0.65rem;
    line-height: 2;
  }
  footer .footer_wrap div:nth-child(1) p {
    font-size: 0.65rem;
  }
  footer .footer_wrap div:nth-child(2) {
    width: 30%;
    text-align: right;
  }
  footer .footer_wrap div:nth-child(2) img {
    width: 4.8rem;
  }
  footer .footer_wrap div:nth-child(2) p {
    display: none;
  }
}
.content {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.content .info_text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  left: 0;
  margin-bottom: 5%;
}
.content .info_text p {
  color: #6a6a6a;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}
.content .info_text span {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff4628;
}
.content .info_text span:first-child {
  font-size: 1.2rem;
  opacity: 0;
}
.content .phone_img {
  width: 28rem;
  text-align: center;
  position: relative;
}
.content .phone_img img {
  width: 28rem;
}
.content .phone_img .phone_text_wrap {
  width: 22rem;
  position: absolute;
  top: 20%;
  right: 0;
}
.content .phone_img .phone_text_wrap table {
  width: 80%;
  margin: 0 auto;
}
.content .phone_img .phone_text_wrap table tr td {
  padding: 0.5rem;
}
.content .phone_img .phone_text_wrap > div.phone_text table {
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 0.5rem;
}
.content .phone_img .phone_text_wrap > div.phone_text table td {
  text-align: left;
  font-weight: bold;
}
.content .phone_img .phone_text_wrap > div.phone_text table td:nth-child(1) {
  width: 30%;
  color: #6a6a6a;
}
.content .phone_img .phone_text_wrap > div.phone_text table td:nth-child(2) {
  width: 50%;
}
.content .phone_img .phone_text_wrap > div.phone_text input {
  width: 100%;
  text-align: right;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  font-weight: bold;
}
.content .phone_img .phone_text_wrap > div.phone_text2 table {
  padding-top: 0.5rem;
}
.content .phone_img .phone_text_wrap > div.phone_text2 table td {
  text-align: left;
  font-weight: bold;
  font-size: 1.1rem;
  vertical-align: super;
}
.content .phone_img .phone_text_wrap > div.phone_text2 table td:nth-child(1) {
  width: 30%;
}
.content .phone_img .phone_text_wrap > div.phone_text2 table td:nth-child(2) {
  width: 65%;
  text-align: right;
}
.content .phone_img .phone_text_wrap > div.phone_text2 table td span {
  color: #000;
  font-size: 1.1rem;
  line-height: 1.5;
}
.content .phone_img .phone_text_wrap > div.phone_text2 table td span.point_text {
  color: #ff4628;
  margin-left: 0.5rem;
}
.content .pay_menu {
  width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 5%;
}
.content .pay_menu div {
  border-bottom: 3px solid #ff4628;
  cursor: pointer;
}
.content .pay_menu div span, .content .pay_menu div i {
  line-height: 3;
  font-size: 1.2rem;
}
.content .pay_menu div span {
  font-weight: bold;
  color: #000;
}
.content .pay_menu div i {
  float: right;
  color: #ff4628;
}

@media (max-width: 768px) {
  .content {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: visible;
    margin-top: 3rem;
  }
  .content .info_text {
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    position: static;
    left: 0;
    opacity: 0;
  }
  .content .info_text span {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ff4628;
  }
  .content .phone_img {
    width: 100%;
    text-align: right;
    position: static;
  }
  .content .phone_img img {
    width: 28rem;
    display: none;
  }
  .content .phone_img .phone_text_wrap {
    width: 100%;
    position: static;
    top: 20%;
    right: 0;
    padding: 1rem;
    box-shadow: 0px 0px 10px -1px #dcdcdc;
  }
  .content .phone_img .phone_text_wrap table {
    width: 100%;
  }
  .content .phone_img .phone_text_wrap table tr td {
    padding: 0.5rem;
  }
  .content .phone_img .phone_text_wrap > div.phone_text table {
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 0.5rem;
  }
  .content .phone_img .phone_text_wrap > div.phone_text table td {
    text-align: left;
    font-weight: bold;
    font-size: 0.7rem;
  }
  .content .phone_img .phone_text_wrap > div.phone_text table td:nth-child(1) {
    width: 30%;
    color: #6a6a6a;
  }
  .content .phone_img .phone_text_wrap > div.phone_text table td:nth-child(2) {
    width: 50%;
  }
  .content .phone_img .phone_text_wrap > div.phone_text input {
    width: 100%;
    text-align: right;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold;
    font-size: 0.8rem;
  }
  .content .phone_img .phone_text_wrap > div.phone_text2 table {
    padding-top: 0.5rem;
  }
  .content .phone_img .phone_text_wrap > div.phone_text2 table td {
    text-align: left;
    font-weight: bold;
    font-size: 0.8rem;
    vertical-align: super;
  }
  .content .phone_img .phone_text_wrap > div.phone_text2 table td:nth-child(1) {
    width: 30%;
  }
  .content .phone_img .phone_text_wrap > div.phone_text2 table td:nth-child(2) {
    width: 65%;
    text-align: right;
  }
  .content .phone_img .phone_text_wrap > div.phone_text2 table td span {
    color: #000;
    font-size: 0.85rem;
    line-height: 1.5;
  }
  .content .phone_img .phone_text_wrap > div.phone_text2 table td span.point_text {
    color: #ff4628;
    margin-left: 0.5rem;
  }
  .content .phone_img .phone_text_wrap > div.phone_text2 p {
    font-size: 0.7rem;
    color: #dcdcdc;
    font-weight: bold;
    line-height: 2;
  }
  .content .phone_img > span {
    font-size: 0.8rem;
    color: #ff4628;
    font-weight: bold;
    opacity: 0.6;
    line-height: 3;
  }
  .content .pay_menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 5%;
  }
  .content .pay_menu div {
    border-bottom: none;
    cursor: pointer;
    display: flex;
    justify-content: right;
    margin: 3rem 0 2rem;
  }
  .content .pay_menu div span, .content .pay_menu div i {
    line-height: 3;
    font-size: 1.2rem;
  }
  .content .pay_menu div span {
    display: inline-block;
    width: 8rem;
    font-weight: bold;
    color: #000;
    border-bottom: 2px solid #ff4628;
    font-size: 1rem;
  }
  .content .pay_menu div i {
    float: right;
    color: #ff4628;
    font-size: 0.9rem;
  }
}