footer {
    background-color: #fff;
    padding: 0.5rem 2rem;

    .footer_wrap {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        >p {
            display: none;
        }

        div {

            p {
                color: #9a9a9a;
                font-size: 0.75rem;
                line-height: 1.5;
            }

            &:nth-child(1) {

                h5 {
                    font-size: 0.85rem;
                    line-height: 2;
                }

                ul {
                    display: flex;

                    li {
                        padding-right: 1rem;
                        color: #9a9a9a;
                        font-size: 0.75rem;
                        line-height: 2;
                    }
                }
            }

            &:nth-child(2) {
                
                text-align: right;

                img {
                    width: 8rem;
                }
            }

        }
    }
}

// 모바일
@media (max-width: 768px) {
    footer {
        background: #fbfbfb;
        padding: 1rem;
    
        .footer_wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            
            >p {
                font-size: 0.65rem;
                width: 100%;
                margin-top: 0.5rem;
                color: #9a9a9a;
                display: block;
            }
    
            div {

                p {
                    color: #9a9a9a;
                    font-size: 0.65rem;
                    line-height: 1;
                }
    
                &:nth-child(1) {
                    width: 70%;
    
                    h5 {
                        font-size: 0.8rem;
                        line-height: 1.5;
                    }
    
                    ul {
                        display: flex;
    
                        li {
                            padding-right: 0.3rem;
                            color: #9a9a9a;
                            font-size: 0.65rem;
                            line-height: 2;
                        }
                    }

                    p {
                        font-size: 0.65rem;
                    }
                }
    
                &:nth-child(2) {
                    width: 30%;
                    text-align: right;
    
                    img {
                        width: 4.8rem;
                    }

                    p {
                        display: none;
                    }
                }
    
            }
        }
    }
}
