@import 'header', 'footer';

// 모바일
@media (max-width: 768px) {

    .wrap {
        width: 100%;
    }
    .content_top {
        width: 100%;
       
        .select_wrap {
            width: 100%;
            position: absolute;
            top: 5.5rem;
            right: 0;
            padding: 2rem 1rem;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            
            >div {
                margin: 0 auto;
                width: 45%;
                padding: 0.5rem;
                display: inline-block;
                border-bottom: 2px solid #6a6a6a;
                cursor: pointer;
                margin-left: 0;
                opacity: 0.9;
    
                span {
                    color: #6a6a6a;
                    font-size: 0.7rem;
                }
    
                i {
                    float: right;
                    color: #6a6a6a;
                    font-size: 0.7rem;
                    line-height: 1.8;
                }
    
                ul {
                    display: none;
                }
    
                &.select_menu {
                    position: relative;
                    margin-left: 1rem;
    
                    ul {
                        position: absolute;
                        top: 2.5rem;
                        width: 100%;
                        background-color: #fff;
                        margin-left: -0.5rem;
    
                        li {
                            padding: 0.5rem;
                            font-size: 0.7rem;
                            display: block;
                            border-bottom: 2px solid #ff4628;
    
                            &:hover {
                                background-color: #ff4628;
                                color: #fff;
                            }
                        }
                    }
    
                }
            }
        }
    }
    
    .content {
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 8rem auto 5rem;
        width: 100%;
    
        .main_text {
            display: none;
            padding-left: 2rem;
            align-self: flex-start;
    
            >p {
                margin: 1rem 0 0;
            }
    
            p {
                 font-size: 0.8rem;
                 color: #6a6a6a;
                 line-height: 3;
            }
    
            >div {
    
                &:first-child {
                    span {
    
                        font-size: 1.3rem;
            
                        &:nth-of-type(1) {
                            color: #ff4628;
                            font-size: 1.7rem;
                            font-weight: bold;
                        }
                    }
                }
                
            }
    
            >.hide_text {
                color: #ff4628;
            }
    
            .hide_text {
                font-size: 1.3rem;
                font-weight: bold;
                opacity: 0;
    
                strong {
                    font-size: 1.7rem;
                }
            }
    
            .color_box {
    
                margin-top: 1rem;
    
                span {
                    font-size: 0.7rem;
                    color: #6a6a6a;
                    margin-right: 0.5rem;
    
                    &::before {
                        content: "";
                        border: 1.5px solid #6a6a6a;
                        display: inline-block;
                        width: 0.5rem;
                        height: 0.5rem;
                        margin-right: 0.2rem;
                        background-color: #dcdcdc;
                    }
    
                    &:last-child {
                        &::before {
                            background-color: #ff4628;
                        }
                    }
                }
            }
        }
    
        .main_img {
            width: 100%;
            display: flex;
            overflow-x: scroll;
            
    
            .locker_left {
                width: 100%;
                margin-right: 2rem;
                
                li {
                    width: 3rem;
                    height: 2rem;
                    background-color: #E7F7FE;
                    border: 1px solid black;
                    border-bottom: none;
    
                    &:last-child {
                        border-bottom: 1px solid black;
                    }
                }
            }
    
            .locker_right {
                display: flex;
                width: 100%;
    
                ul {
                    border-right: 1px solid black;
    
                    &:first-child {
                        border-left: 1px solid black;
                    }
    
                    li {
                        width: 3rem;
                        height: 2rem;
                        background-color: #E7F7FE;
                        border-top: 1px solid black;
                        border-bottom: none;
    
                        &:last-child {
                            border-bottom: 1px solid black;
                           
                        }
                    }
    
                    &.locker_middle {
    
                        li {
                            &:last-child {
                                height: 6rem;
                            }
                        }
                    }
    
                    &.locker_middle_img {
    
                        li {
    
                            &:nth-child(2) {
                                height: 4rem;
                                background-image: url(../img/locker_com.png);
                                background-position: 50% 50%;
                                background-size: 90%;
                                background-repeat: no-repeat;
                            }
    
                            &:last-child {
                                height: 6rem;
                            }
                        }
                    }
                }
    
                
            }
    
        }

        .preview {
            margin-top: 3rem;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            i {
                color: #dcdcdc;
                opacity: 0.8;

            }
            
            img {
                width: 50%;
                margin: 0 2rem;
            }

            div {
                position: absolute;
                top: -10%;
                left: 25%;
                border: 1px solid #ff4628;
                width: 25%;
                height: 120%;
            }

            .locker_on {
                color: #ff4628;
            }
            
        }
        
        .main_btn {
            display: none;
            align-self:flex-end;
            width: 8rem;
            padding: 0.5rem;
            border-bottom: 2px solid #6a6a6a;
            opacity: 0.8;
            cursor: pointer;
    
            span {
                color: #6a6a6a;
                font-size: 1.2rem;
                font-weight: bold;
            }
    
            i {
                color: #6a6a6a;
                float: right;
                line-height: 1.3;
            }
        }
    }

    .phone_wrap {
        display: block;
        padding: 2rem 1rem;
        box-shadow: 0px -7px 20px -5px #dcdcdc;

        .phone_inner {
            width: 100%;

            .phone_text {
                display: flex;
                justify-content: space-between;

                p {
                    font-size: 0.7rem;
                    color: #6a6a6a;
                    margin-bottom: 0.3rem;
                }

                strong {
                    font-size: 0.9rem;
                }

                span {
                    font-size: 0.8rem;
                }

                div {
                    &:nth-child(2) {
                        span {
                            color: #ff4628;
                            font-weight: bold;
                        }
                    }
                }

                .hide_text {
                    opacity: 0;
                }

                .color_box {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    span {
                        font-size: 0.7rem;
                        color: #6a6a6a;


                        &::before {
                            content: "";
                            border: 1.5px solid #6a6a6a;
                            display: inline-block;
                            width: 0.4rem;
                            height: 0.4rem;
                            margin-right: 0.2rem;
                            background-color: #dcdcdc;
                        }
        
                        &:last-child {

                            &::before {
                                background-color: #ff4628;
                            }
                        }
                    }
                }
            }

            .phone_btn_gr {
                display: flex;
                justify-content: space-between;
                margin-top: 3rem;
                align-items: center;

                p {
                    font-size: 0.7rem;
                    margin-bottom: 0.3rem;
                }

                div {
                    &:nth-child(1) {
                        span {
                            
                            font-size: 0.8rem;
                            &:nth-of-type(1) {
                                font-weight: bold;
                                color: #ff4628;
                                font-size: 0.9rem;    
                            }
                            
                        }
                    }
                    &:nth-child(2) {
                        width: 7rem;
                        padding: 0.3rem;
                        border-bottom: 2px solid #6a6a6a;
                        opacity: 0.8;
                        cursor: pointer;

                        span {
                            color: #6a6a6a;
                            font-weight: bold;
                        }
                
                        i {
                            color: #6a6a6a;
                            float: right;
                            line-height: 1.3;
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }
}
