@import 'header', 'footer';

.content {
    padding: 0 2rem;
    display: flex;
    justify-content: right;
    align-items: center;

    table {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin: 0 auto;
        padding-bottom: 5rem;

        tr {

            td {
                width: 8rem;
                padding: 5rem 1.2rem 0.5rem;
                font-weight: bold;
                font-size: 1.2rem;

                input {
                    border: none;
                    outline: none;
                    background-color: rgba($color: #000000, $alpha: 0);

                    &::placeholder {
                        font-weight: bold;
                        font-size: 1.2rem;
                    }
                }

                i {
                    float: right;
                }

                &:last-child {
                    width: 18rem;
                    border-bottom: 2px solid #6a6a6a;
                    opacity: 0.5;
                }
            }

            &:last-child {
                
                td {
                    text-align: right;
                    padding: 1.5rem 0;
                    border-bottom: none;
                    opacity: 1;

                    span {
                        font-size: 1.2rem;
                        color: #ff4628;
                        cursor: pointer;

                        &:last-child {
                            margin-left: 3.5rem;
                        }
                    }
                }
            }
        }
    }

    .main_btn {
        align-self: flex-end;
        width: 12rem;
        padding: 0.5rem;
        border-bottom: 2px solid #6a6a6a;
        opacity: 0.8;
        cursor: pointer;

        span {
            color: #6a6a6a;
            font-size: 1.2rem;
            font-weight: bold;
        }

        i {
            color: #6a6a6a;
            float: right;
            line-height: 1.3;
        }
    }
}

.content_mobile {
    display: none;
}

// 모바일
@media (max-width: 768px) {

    header {
        h1 {
            display: none;
        }
    }
    .phone_title {
        display: block;
    }

    .content {
        padding: 0 2rem;
        display: flex;
        justify-content: right;
        align-items: center;
        display: none;
    
        table {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            margin: 0 auto;
            padding-bottom: 5rem;
    
            tr {
    
                td {
                    width: 8rem;
                    padding: 5rem 1.2rem 0.5rem;
                    font-weight: bold;
                    font-size: 1.2rem;
    
                    input {
                        border: none;
                        outline: none;
                        background-color: rgba($color: #000000, $alpha: 0);
    
                        &::placeholder {
                            font-weight: bold;
                            font-size: 1.2rem;
                        }
                    }
    
                    i {
                        float: right;
                    }
    
                    &:last-child {
                        width: 18rem;
                        border-bottom: 2px solid #6a6a6a;
                        opacity: 0.5;
                    }
                }
    
                &:last-child {
                    
                    td {
                        text-align: right;
                        padding: 1.5rem 0;
                        border-bottom: none;
                        opacity: 1;
    
                        span {
                            font-size: 1.2rem;
                            color: #ff4628;
                            cursor: pointer;
    
                            &:last-child {
                                margin-left: 3.5rem;
                            }
                        }
                    }
                }
            }
        }
    
        .main_btn {
            align-self: flex-end;
            width: 12rem;
            padding: 0.5rem;
            border-bottom: 2px solid #6a6a6a;
            opacity: 0.8;
            cursor: pointer;
    
            span {
                color: #6a6a6a;
                font-size: 1.2rem;
                font-weight: bold;
            }
    
            i {
                color: #6a6a6a;
                float: right;
                line-height: 1.3;
            }
        }
    }

    .content_mobile {
        display: block;
        padding: 1rem;

        >div {
            width: 100%;
            opacity: 0.5;

            >div {
                padding: 0.3rem;

                span {
                    color: #6a6a6a;
                    font-weight: bold;
                }

                i {
                    float: right;
                    color: #6a6a6a;
                }
            }

            >span {
                color: #6a6a6a;
                display: block;
                margin: 2rem 0 0.5rem;
                font-size: 0.7rem;
            }

            input {
                width: 100%;
                border: none;
                outline: none;
                padding: 0.3rem;

                &::placeholder {
                    color: #6a6a6a;
                    font-weight: bold;
                }
            }

            >div, input {
                border-bottom: 2px solid #6a6a6a;
            }

            &.point_text {
                width: 80%;
                margin: 2rem auto 0;
                text-align: center;
                opacity: 1;

                span {
                    color: #ff4628;
                    font-weight: bold;
                    font-size: 1rem;
                    line-height: 1;
                    margin: 1rem 0;
                    cursor: pointer;
                }
            }

            &.main_btn {
                width: 100%;
                display: flex;
                justify-content: right;
                margin: 1rem 0;
                opacity: 0.5;
                cursor: pointer;

                span {
                    display: inline-block;
                    width: 8rem;
                    border-bottom: 2px solid #6a6a6a;
                    color: #6a6a6a;
                    font-size: 1rem;
                    padding: 0.5rem;
                    font-weight: bold;

                    i {
                        float: right;
                        color: #6a6a6a;
                    }
                }

            }
        }
        
    }
}

